.wrapper {
  display: flex;
  justify-content: space-around;
  height: 2.6vw;
  margin: 0.5vw 0 0.5vw 0;
  background-color: rgb(246, 240, 229);
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
}
.value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 500;
}
.wrapper:hover {
  /* transform: scale(1.02); */
  height: 2.32vw;
  border-top: 0.14vw solid rgb(150, 150, 150);
  border-bottom: 0.14vw solid rgb(150, 150, 150);
  transition: transform 0.3s;
  background-color: rgb(228, 228, 228);
}
